################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Butterfly/src/Butterfly.Client.Test/obj/Debug
