################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Butterfly/src/Butterfly.Client.Test/obj/Debug
/Butterfly/src/.vs/Butterfly/v16
/Butterfly/src/Butterfly.Common/bin/Debug
/Butterfly/src/Butterfly.Common/obj/Debug
/Butterfly/src/Butterfly.Data/bin/Debug
/Butterfly/src/Butterfly.Data/obj/Debug
/Butterfly/src/Butterfly.Interfaces/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.Interfaces/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.Interfaces/obj
/Butterfly/src/Butterfly.Maps/bin/Debug
/Butterfly/src/Butterfly.Maps/obj/Debug
/Butterfly/src/Butterfly.Models/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.Models/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.Models/obj
/Butterfly/src/Butterfly.Repositories/bin/Debug
/Butterfly/src/Butterfly.Repositories/obj/Debug
/Butterfly/src/Butterfly.Server/bin/Debug
/Butterfly/src/Butterfly.Server/obj/Debug
/Butterfly/src/Butterfly.Server.Core/bin/Debug
/Butterfly/src/Butterfly.Server.Core/obj/Debug
/Butterfly/src/Butterfly.Services/bin/Debug
/Butterfly/src/Butterfly.Services/obj/Debug
/Butterfly/src/Butterfly.ViewModels/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.ViewModels/obj
/Butterfly/src/Butterfly.ViewModels/bin/Debug/netstandard2.0
/Butterfly/src/packages
/Butterfly/src/.vs/Butterfly/DesignTimeBuild
/Butterfly/src/Butterfly.MultiPlatform.Common/obj
/Butterfly/src/Butterfly.MultiPlatform.Common/bin/Debug/netstandard2.0
